@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 118px;
}

@theme inline {
  --font-system: "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-search: rgb(245,246,247);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-placeholder: rgb(152, 162, 179);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard Variable", sans-serif;
}

/* 우측 Dom과 분류 목적의 before */
.custom-before-division {
  @apply relative
      before:content-['']
      before:absolute
      before:top-1/2
      before:-right-5
      before:-translate-y-1/2
      before:w-[1px]
      before:h-1/3
      before:bg-black
}

/* 하단에 줄이 중앙에서 양쪽으로 펼쳐지는 애니메이션 */
.custom-expanded-weight {
  @apply relative
    after:content-['']
    after:absolute
    after:bottom-0
    after:left-1/2
    after:-translate-x-1/2
    after:transition-all
    after:w-0
    after:h-0.5
    after:duration-300
    after:bg-black
    hover:after:w-full
    hover:after:-translate-x-1/2
}

/* 우측 상단 빨간색 알림 원 */
.notification-dot {
  @apply before:content-['']
    before:absolute
    before:top-0
    before:right-0
    before:translate-x-2
    before:-translate-y-1/2
    before:w-1.5
    before:h-1.5
    before:rounded-full
    before:bg-red-500
}
